<header class="site-header">
	<div class="left">
		<nav>
			<ul>
				<li>
					<a href="/">Home</a>
				</li>
			</ul>
		</nav>
	</div>
	<div class="center">
		<nav>
			<ul>
				<li class="search">
					<form action="#" method="GET">
						<input type="search" placeholder="search..." required name="search" maxlength="35">
					</form>
				</li>
				<li>
					<a href="#">students</a>
				</li>
				<li>
					<a href="#">students</a>
				</li>
				<li>
					<a href="#">students</a>
				</li>
			</ul>
		</nav>
	</div>
	<div class="right">
		<nav>
			<ul>
				<li><a href="#">sign in</a></li>
			</ul>
		</nav>
	</div>
</header>